{% extends "base2.html" %}
{% block content %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
</head>
<body>    
    <div class="wrapper">
        <div class="course-box create">
            <h2 class="course-tile">Create Course</h2>

            <form action="">
                <div class="input-box">
                    <span class="icon">logo</span>
                    <input type="text" class="course-title">
                    <label>Name</label>
                </div>

                <div class="input-box">
                    <span class="icon">logo</span>
                    <input type="text" class="course-title">
                    <label>Description</label>
                </div>
            </form>

            <button class="btncourse-create">Create</button>
        </div>

        <div class="course-box view">
            <h2 class="course-tile">Create Course</h2>

            <form action="">
                <div class="input-box">
                    <span class="icon">logo</span>
                    <input type="text" class="course-title" required>
                    <label>Name</label>
                </div>

                <div class="input-box">
                    <span class="icon">logo</span>
                    <input type="text" class="course-title" required>
                    <label>Description</label>
                </div>
            </form>

            <button class="btn course-create">Create</button>
        </div>
    </div>

    <script src="{% static 'js/courses.js' %}"></script>
    <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
</body>
</html>
{% endblock %}