{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <div class="text-danger">{{ form.username.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.password1.errors %}
                <div class="text-danger">{{ form.password.errors.0 }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
