{% extends "base.html" %}
{% block content %}
<div class="max-w-3xl mx-auto p-6 space-y-6">
  <h1 class="text-2xl font-semibold mb-4">User Profile</h1>

  <form method="POST" enctype="multipart/form-data" class="space-y-4">
    {% csrf_token %}

    <!-- имя пользователя?? что-то кастомизировать вообще нужно? наверное нет -->
    <div>
        <label class="block text-sm font-medium text-gray-700">Username</label>
        <div class="mt-1 text-base text-gray-900">
            {{ user.username }}
        </div>
    </div>

    <div>
        <label for="avatar">Upload avatar</label>
        <input type="file" name="avatar" id="avatar" accept="image/*">
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="avatar" class="mt-2 h-20 w-20 rounded-full object-cover">
        {% endif %}
    </div>
  </form>
  <form method="POST" class="space-y-4">
    {% csrf_token %}
    <!-- выбор курса -->
    <div>
      <label for="course" class="block text-sm font-medium text-gray-700">Select Course</label>
      <select name="course" id="course" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" required>
        <option value=""> Choose course </option>
        {% for course in courses %}
          <option value="{{ course.course_id }}">{{ course.name }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- выбор подтемы -->
    <div>
      <label for="subtopic" class="block text-sm font-medium text-gray-700">Select Subtopic</label>
      <select name="subtopic" id="subtopic" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" required>
        <option value="">-- Choose subtopic --</option>
      </select>
    </div>

    <button type="submit" name="submit_seeResults" class="mt-4 bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700">
      Show Test
    </button>
  </form>
</div>

<script>
$(document).ready(function() {
  $('#course').change(function() {
      const courseId = $(this).val();
      if (courseId) {
          $.ajax({
              headers: {
                  "X-CSRFToken": "{{ csrf_token }}"
              },
              url: '{% url "seeTopics" %}',
              method: 'POST',
              data: {
                  id: courseId
              },
              success: function(data) {
                  $('#subtopic').html("<option value=\"\">-- Choose subtopic --</option>");  // Очистка перед добавлением
                  $.each(data.topics, function(index, el) {
                      $('#subtopic').append(
                          $('<option>').val(el.topic_id).text(el.name)
                      );
                  });
              },
              error: function(xhr) {
                  alert('Ошибка: ' + xhr.responseJSON?.error);
              }
          });
      }
  });
});
</script>

{% endblock %}