<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Login</title>

    <!-- styles import  -->
    <link rel="stylesheet" href="{% static './css/signup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <form class="register-box" action="#" method="POST">
            {% csrf_token %}
            {{ signup_form.non_field_errors }}
            
            <!-- box name  -->
            <div class="text-container">
                Registration
            </div>

            <!-- Username form -->
            <div class="input-box">
                {{ signup_form.username }}
                <!-- <input type="text" id="user" class="input-field" required> -->
                <label for="user" class="label">Username</label>
            </div>

            <!-- Password form -->
            <div class="input-box">
                {{ signup_form.password1 }}
                <!-- <input type="password" id="pass" class="input-field" required> -->
                <label for="pass" class="label">Password</label>
            </div>

            <!-- Password Confirm form -->
            <div class="input-box">
                {{ signup_form.password2 }}
                <!-- <input type="password" id="pass" class="input-field" required> -->
                <label for="pass" class="label">Confirm password</label>
            </div>

            <!-- button for sent form to back-end -->
            <div class="input-box">
                <input type="submit" class="input-submit" value="Register">
            </div>

            <!-- if user do not have an account  -->
            <div class="register">
                <span> Already have an account? <a href="/login">Login</a></span>
            </div>
        </div>
    </div>

    <!-- background -->
    <div class="gradient-bg">
        <svg xmlns="http://www.w3.org/2000/svg">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
                    <feBlend in="SourceGraphic" in2="goo" />
                </filter>
            </defs>
        </svg>
        <div class="gradients-container">
            <div class="g1"></div>
            <div class="g2"></div>
            <div class="g3"></div>
            <div class="g4"></div>
            <div class="g5"></div>
            <div class="interactive"></div>
        </div>
    </div>

    <!-- JavaScript import  -->
    <script type="text/javascript" src="{% static './js/signup.js' %}"></script>
</body>
</html>